
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />

    <!-- //custom-theme -->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script type="text/javascript" src="~/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- font-awesome-icons -->
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
</head>

<body>
    <!-- banner -->
    <div class="banner1">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">

                    <h1><a class="navbar-brand" href="index.html"><span>L</span><i>有财贷款</i></a></h1>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav class="link-effect-2" id="link-effect-2">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/LoanItem/Home" class="effect-3">首页</a></li>
                            <li><a href="/LoanItem/Index" class="effect-3">找贷款</a></li>
                            <li><a href="portfolio.html" class="effect-3">利率计算器</a></li>
                            <li><a href="/LoanItem/Helphelp" class="effect-3">帮助</a></li>
                            <li><a href="/LoanItem/MyPersonCenter" class="effect-3">个人中心</a></li>
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
    </div>
    <!-- bootstrap-pop-up -->
    <!-- //bootstrap-pop-up -->
    <!-- breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="w3layouts_breadcrumbs_left">
                <ul>
                    <li><a href="Home.cshtml">首页</a><span>/</span></li>
                    <li>帮助</li>
                </ul>
            </div>
            <div class="w3layouts_breadcrumbs_right">
                <h2>帮助</h2>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //breadcrumbs -->
    <!-- typography -->
    <div class="banner-bottom">
        <div class="container">
            <div class="grid_3 grid_5 agile">
                <h3>热门问题</h3>
                <div class="well">
                    <h5>1：借过一次款，还能再借吗？</h5>
                    <p>
                        一般来说，你借了一笔钱以后，在没有还清贷款的情况下，还是可以再贷款的！只不过要在你有条件和有足够的还款能力的前提下。比如你要有按时足额还款的能力、个人信用记录良好、负债不能太高。
                        另外，你也要根据自己的实际情况再确定好贷款额度，免得到时候还款压力太大，影响你的正常生活。
                    </p>
                </div>
                <div class="well">
                    <h5>2：异地也能贷款吗？</h5>
                    <p>
                        当然能了。不同产品对于贷款用户的要求不一样，不光看户籍，其他资质符合就行。如果你的户口不在当地，只要你在当地有稳定的工作，良好的信用，当然可以贷到款。
                        除了信用贷款，现在异地还可以办理贷款买房买车呢。现在的公积金住房贷款就不受户口限制的，与户口所在城市无关，只要你的工作单位在当地就可以。
                    </p>
                </div>
                <div class="well">
                    <h5>3：逾期了会不会打电话催？</h5>
                    <p>
                        般来说，逾期以后就会迎来催收。电话催收是最经典的招数了。一般在你逾期的第二天就会收到贷款平台的电话，催你还款。说实话，如果催收人员的素质好一点的话还比较客气，遇上不客气的催收人员，你就不得不听几句威胁了。
                        有人说，那我不接催收电话总可以了吧？关机或者换手机号码行不行？那就想得太简单啦，催收人员长时间联系不到你的时候，往往会选择联系你的亲友同事进行催债。
                    </p>
                </div>
            </div>
            <h3 class="bars">隐私政策</h3>
            <ol>
                <li class="list-group-item1">您直接提供的信息：我们可能收集并存储您在使用有财贷款服务时向我们提供的任何信息，包括您在我们页面中在线填写信息时、解决争议或就有财贷款服务与我们联系时所提供的信息，以及您在使用我们服务过程中产生的关于您的交易和活动的信息。</li>
                <li class="list-group-item1">我们主动收集的信息：在您使用有财贷款网站及相关服务过程中，我们会收集您的计算机及其他访问设备发送给我们的信息。</li>
                <li class="list-group-item1">我们从其他来源取得的信息：在取得您同意的前提下，我们还可能从有财贷款关联公司及合作伙伴、信用机构及依法成立并合法留存您的相关信息的第三方机构获取您的相关信息。</li>
                <li class="list-group-item1">
                    我们会收集您使用有财贷款服务时的搜索记录、您与客户服务团队联系时提供的信息及您参与问卷调查时向我们发送的信息。如您不提供前述信息，不影响您使用我们提供的其他服务。
                </li>
            </ol>
            <div class="page-header">
                <h3 class="bars">服务协议</h3>
            </div>
            <h2 class="typoh2">用户须知</h2>
            <p>
                有财贷款服务协议
                <br />
                甲方、乙方双方依照《中华人民共和国合同法》及其他有关法律法规，遵循平等自愿、互利互惠、诚实信用的原则，就有财贷款业务订立本协议，以便共同遵守。
            </p>
            <hr class="bs-docs-separator">
            <p>借款人在宽限期当月月末前未足额偿还借款本金、利息和罚息的，借款人应按照下述计算方式向有财贷款逾期管理费；</p>
            <p>自宽限期次日起按“截至当日未偿还借款本金、利息与罚息之和×0.1%/天”的标准支付基础逾期管理费；</p>
        </div>
    </div>
    <!-- //typography -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="w3ls_address_mail_footer_grids">
                <div class="col-md-4 w3ls_footer_grid_left">
                    <div class="wthree_footer_grid_left">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <p>中国<span>上海市</span></p>
                </div>
                <div class="col-md-4 w3ls_footer_grid_left">
                    <div class="wthree_footer_grid_left">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <p>客服电话+(0318) 123 456777  <span>举报电话+(0318) 123 456999 </span></p>
                </div>
                <div class="col-md-4 w3ls_footer_grid_left">
                    <div class="wthree_footer_grid_left">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </div>
                    <p>
                        <span>1501059650@qq.com</span>
                        <span><a href="mailto:info@example.com">邮箱登录</a></span>
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="agileinfo_copyright">
                <p>温馨提示 : 市场有风险 , 贷款需谨慎</p>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- for bootstrap working -->
    <script src="~/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- start-smooth-scrolling -->
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smooth-scrolling -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
</body>
</html>
